{% extends "layout.html" %} 
{% load humanize %}
{% block content %}



<div class="container">
    <div class="row">
        <!-- Cột dành cho danh mục sản phẩm -->
        {% comment %} <div style="width: 18rem;" class="mt-5 col-3">
            <ul class="list-group">
                {% for loaiSP in categories %}
                    <a href="{% url "product_category" loaiSP.id %}">
                        <li class="list-group-item">{{ loaiSP.name }}</li> 
                    </a>
                {% endfor %}
            </ul>
        </div> {% endcomment %}

        <!-- Cột dành cho danh sách sản phẩm -->
        <div class="col-9 mt-5">
            <div class="row">
                <h3 class="text-center my-3" >On Sale</h3>
                {% for sanpham in products_on_sale %} 
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <a href="{% url "product_detail" sanpham.id %}">
                            <img src="{{ sanpham.image.url }}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ sanpham.name }}</h5>
                            <del>  
                                <h6 class="card-title text-secondary">{{ sanpham.price | floatformat | intcomma }}đ</h6>  
                            </del>  
                            <h4 class="card-title text-danger">{{ sanpham.new_price | floatformat | intcomma }}đ</h4>                            <p class="">{{ sanpham.detail }}</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <h3 class="text-center my-3" >All Products</h3>
                {% for sanpham in products %} 
                    <div class="col-md-4 mb-4">
                        <div class="card" style="width: 18rem;">
                            <a href="{% url "product_detail" sanpham.id %}">
                                <img src="{{ sanpham.image.url }}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ sanpham.name }}</h5>
                                <h5 class="card-title text-danger">{{ sanpham.price |floatformat | intcomma }} VND</h5>
                                <p class="">{{ sanpham.detail }}</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
